<!-- much of this layout was determined by the somewhat wonky behavior of client-side 
form validators. After testing jqBootStrapValidation I ended up using this one:
http://alittlecode.com/files/jQuery-Validate-Demo/index.html
It uses the older jQuery validate plugin even though it does odd things with labels. -->


.row-fluid
  .span2
    ul.nav.nav-pills.pull-left
      li.dropdown
        a.dropdown-toggle#prevCrawlToggle(data-toggle='dropdown', href='#')
          | Previous Crawls
          b.caret
        ul#previousCrawlList.dropdown-menu
          each o in previousCrawls
            li
              a(href='#', guid=o.guid) 
                span.badge.badge-warning= o.crawled
                span=' ... '
                code= o.label
                span=' ... '
                span.mono= o.fw_root
              

  .span10
    .row-fluid
      form#ep_crawl_form.form-inline(action='/ep_files', method='post')


        .row-fluid 
          .control-group
            .span2.right
              label
                | Label:
            .span10.bumper
              input.rather-long(type='text', name='label', value='unlabeled')

        .row-fluid 
          .control-group
            .span2.right
              label
                | Start Directory:
            .span10.bumper
              input.rather-long(type='text', name='fw_root', placeholder='(directory path)')

        .row-fluid 
          .control-group
            .span2.right
              label
                | Work Directory:
            .span10.bumper
              input.rather-long(type='text', name='work_dir', value='#{process.env.TMP}')

        .row-fluid 
          .control-group
            .span2.right
              label
                | ElasticSearch:
            .span10.bumper
              input.input-xlarge(type='text', name='es_host', value='localhost', placeholder='localhost')
              &nbsp &nbsp &nbsp
              input.input-small(type='text', name='es_port', value='9200', placeholder='9200')
        
        p
          
        .row-fluid 
          .control-group
            .span6.offset2
              label.checkbox
                input(type='checkbox', name='write_csv', checked=(true===false ? "checked" : undefined))
                | Write results to CSV 
                i (time-stamped files in Work Directory)

        p

        .row-fluid
          .span2.offset2.bumper
            label.checkbox
              input(type='checkbox', name='find_LAS', checked=true)
              | LAS
          .span3
            label.checkbox
              input(type='checkbox', name='zip_las', checked=(true===false ? "checked" : undefined))
              |  Include ZIP Archives


        hr
        .row-fluid 
          .span2.offset2
            label.checkbox
              input(type='checkbox', name='find_RAS', checked=(true===false ? "checked" : undefined))
              | Raster Logs
          .span6
            label
              input(type='checkbox', name='ras_clip', checked=(true===false ? "checked" : undefined))  
              |  Collect image clip from .tif/.jpg file


        hr
        .row-fluid 
          .span2.offset2
            label.checkbox
              input(type='checkbox', name='find_SHP', checked=(true===false ? "checked" : undefined))
              | Shapefiles
          .span5
            label
              input.input-mini(type='text', name='shp_feat', value='20') 
              |  Shapefile Feature Count


        hr
        .row-fluid
          .span2.offset2.bumper
            label.checkbox
              input(type='checkbox', name='find_SGY', checked=(true===false ? "checked" : undefined))
              |  SEGY

          .span3.offset5
            button#ep_crawl_btn.btn.btn-warning.btn-large(type='submit') Save & Run Crawl
