extends ../layout

block content
  script(src="/javascript/search.js");
  script
    // make the last selected index and query string 'stick'
    var selected = $('#searchFilterList li a[idx="'+'#{idx}'+'"]');
    var v = selected.attr('value');
    var i = selected.attr('idx');
    var btn = $("#searchFilterButton:first-child");
    btn.attr('value', v);
    btn.attr('idx', i);
    $('#searchText').val('#{query}');

    

  #modalDocDetail.modal.hide.fade
    .modal-header
      button.close(type='button', data-dismiss='modal')
      p.lead.modal-title#modalDocTitle

    .modal-body

    .modal-footer
      button.btn(data-dismiss='modal') Close


  - if (total === 0)
    include noResults

  - else

    .row-fluid#results
      table.table.table-condensed.table-bordered.table-hover.white
        - var t = getTemplate(docs[0].doctype).tableFields
        for f in t.showFields
          th= f

        for doc in docs
          tr(class=doc.doctype, id=doc.doctype+'.'+doc.guid)
            for f in t.realFields
              td= doc[f]


    .well#searchSummaryBox
      include summaryAndCSV
