extends ../layout

block content
  script(src="/javascript/search.js");
  script
    // make the last selected index and query string 'stick'
    var selected = $('#searchFilterList li a[idx="'+'#{idx}'+'"]');
    var v = selected.attr('value');
    var i = selected.attr('idx');
    var btn = $("#searchFilterInput:first-child");
    btn.attr('value', v);
    btn.attr('idx', i);
    $('form#search #idx').attr('value', i); // the only one that counts!
    $('#searchText').val('#{query}');


  #modalDocDetail.modal.container.fade(tabindex='-1', style='display: none;')

    .modal-header
      h4.modal-title#title

    .modal-body
      .row
        .col-md-6
          .well#list
          #singles
        .col-md-6
          #panel
      .row
        #base

    .modal-footer
      button.btn.btn-default(data-dismiss='modal') Close


  - if (total === 0)
    include no_results

  - else

    .container#results
      table.table.table-condensed.table-bordered.table-hover.white
        - var t = getTemplate(docs[0].doctype).tableFields
        for f in t.showFields
          th= f

        for doc in docs
          tr(id=doc.doctype+'.'+doc.guid)
            for f in t.realFields
              td= doc[f]


    .container#searchSummaryBox
      include summary_and_csv
