extends ../layout


block content

  .container
    .col-md-5.well
      .well.white
        p
          span.glyphicon.glyphicon-home
          &nbsp
          strong= app_name
          &nbsp | &nbsp
          | version: 
          = app_vers
        p
          = app_desc
        p
          span.glyphicon.glyphicon-warning-sign
          &nbsp
          a(href="#{app_bugs}")= app_bugs
        p
          span.glyphicon.glyphicon-user
          &nbsp
          a(href="#{app_wiki}")= app_wiki



      for x in crawlers
        .well.white
          p
            span.glyphicon.glyphicon-th-large
            &nbsp
            strong= x.name
            &nbsp | &nbsp
            | version: 
            = x.vers

          p
            = x.desc
          p
            span.glyphicon.glyphicon-warning-sign
            &nbsp
            a(href="#{x.bugs}")= x.bugs
          p
            span.glyphicon.glyphicon-user
            &nbsp
            a(href="#{x.wiki}")= x.wiki


    .col-md-5
      p some sort of helpful blurb or pictures

