extends ../layout

block content
  .row.wider
    .col-md-6
      .well.white#home_top_left.light
        p.lead.center
          strong Welcome to Simple Geoscience Search!

        .well.white
          h4 1. Select a crawler type from the menu above.
          h4 2. Review any existing crawl sets by their user-defined label.
          h4 3. Define/run a crawl to collect new metadata on your network.

        p
          | LogicalCat indexes text content within files and select tables from 
          | project databases. It works like your favorite search engine &mdash;
          | enter more terms to limit results. You can use wildcards (*) too.
          | If possible, bounding boxes of shapefiles/projects and wells will be 
          | mapped.

        br
       
        p.lead.center
          span.glyphicon.glyphicon-envelope
          &nbsp
          | info@logicalcat.com
          &nbsp 
          &nbsp 
          span.glyphicon.glyphicon-phone
          &nbsp
          | 303-949-8125 


    .col-md-6
      .well.white#home_top_right
        p.center
          strong.lead LogicalCat Browser App


        p
          span.glyphicon.glyphicon-home
          &nbsp
          strong= app_name
          &nbsp | &nbsp
          | version: 
          = app_vers
        p
          = app_desc
        p
          span.glyphicon.glyphicon-warning-sign
          &nbsp
          a(href="#{app_bugs}")= app_bugs
        p
          span.glyphicon.glyphicon-user
          &nbsp
          a(href="#{app_wiki}")= app_wiki


        p
          | UWI Lat/Lon Points Index:

        table.table.table-condensed.table-striped.table-bordered
          thead
            th index
            th size
            th points
          tbody
            tr
              td= loc_stat.index
              td= loc_stat.size
              td= loc_stat.docs

        br
        button#initLocs.btn.btn-default.redtxt(type='button')
          | Clear Locations Index
          

  br
  .row.wider

    for x in crawlers
      .col-md-6
      
        .well.white
          p.center
            strong.lead= x.longName
          p
            span.glyphicon.glyphicon-th-large
            &nbsp
            strong= x.name
            &nbsp | &nbsp
            | version: 
            = x.vers
          p
            = x.desc
          p
            span.glyphicon.glyphicon-warning-sign
            &nbsp
            a(href="#{x.bugs}")= x.bugs
          p
            span.glyphicon.glyphicon-user
            &nbsp
            a(href="#{x.wiki}")= x.wiki

          br

          table.table.table-condensed.table-striped.table-bordered
            thead
              th index
              th size
              th docs
            tbody
            each i in x.indexes
              tr
                td= i.index
                td= i.size
                td= i.docs

